{
  "openapi": "3.0.3",
  "servers": [{ "url": "https://exercisedb.p.rapidapi.com" }],
  "info": {
    "title": "ExerciseDB Documentation",
    "description": "This documentation provides detailed information about the ExerciseDB API available on RapidAPI. It includes various endpoints for accessing exercise data, such as images, equipment lists, and target muscle details, along with examples of required parameters and expected responses.",
    "version": "2.1.0",
    "contact": { "url": "https://rapidapi.com/justin-WFnsXH_t6/api/exercisedb" }
  },
  "tags": [
    {
      "name": "Exercises",
      "description": "Exercise endpoints."
    },
    { "name": "Misc", "description": "Miscellaneous endpoints" }
  ],
  "paths": {
    "/status": {
      "get": {
        "operationId": "getStatus",
        "description": "Get the status of the ExerciseDB Server",
        "tags": ["Misc"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/image/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the exercise",
            "schema": { "type": "string", "minLength": 14, "maxLength": 14 }
          }
        ],
        "responses": {
          "200": {
            "description": "Exercise image",
            "content": {
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "operationId": "getImageById",
        "description": "Retrieve an exercise gif from the exercise ID",
        "tags": ["Misc"]
      }
    },
    "/exercises/targetList": {
      "get": {
        "operationId": "getExercisesTargetList",
        "description": "Get list of available target muscles",
        "tags": ["Exercises"],
        "responses": {
          "200": {
            "description": "List of target muscles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/equipmentList": {
      "get": {
        "operationId": "getExercisesEquipmentList",
        "description": "Get list of available equipment",
        "tags": ["Exercises"],
        "responses": {
          "200": {
            "description": "List of equipment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/equipment/{equipment}": {
      "get": {
        "parameters": [
          {
            "name": "equipment",
            "in": "path",
            "required": true,
            "description": "Type of equipment",
            "schema": {
              "type": "string",
              "enum": [
                "assisted",
                "band",
                "barbell",
                "body weight",
                "bosu ball",
                "cable",
                "dumbbell",
                "elliptical machine",
                "ez barbell",
                "hammer",
                "kettlebell",
                "leverage machine",
                "medicine ball",
                "olympic barbell",
                "resistance band",
                "roller",
                "rope",
                "skierg machine",
                "sled machine",
                "smith machine",
                "stability ball",
                "stationary bike",
                "stepmill machine",
                "tire",
                "trap bar",
                "upper body ergometer",
                "weighted",
                "wheel roller"
              ]
            }
          }
        ],
        "operationId": "getExercisesByEquipment",
        "description": "Retrieve a list of exercises by equipment",
        "tags": ["Exercises"],
        "responses": {
          "200": {
            "description": "List of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "bodyPart": { "type": "string" },
                      "equipment": { "type": "string" },
                      "target": { "type": "string" },
                      "gifUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No exercises found for the specified equipment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises": {
      "get": {
        "operationId": "getAllExercises",
        "description": "Retrieve all exercises with optional filters",
        "tags": ["Exercises"],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": { "type": "integer", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "bodyPart": { "type": "string" },
                      "equipment": { "type": "string" },
                      "target": { "type": "string" },
                      "gifUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/exercise/{id}": {
      "get": {
        "operationId": "getExerciseById",
        "description": "Retrieve a specific exercise by its ID",
        "tags": ["Exercises"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the exercise",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exercise details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "bodyPart": { "type": "string" },
                    "equipment": { "type": "string" },
                    "target": { "type": "string" },
                    "gifUrl": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Exercise not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/name/{name}": {
      "get": {
        "operationId": "getExercisesByName",
        "description": "Retrieve a list of exercises by name",
        "tags": ["Exercises"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the exercise",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "bodyPart": { "type": "string" },
                      "equipment": { "type": "string" },
                      "target": { "type": "string" },
                      "gifUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No exercises found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/bodyPart/{bodyPart}": {
      "get": {
        "operationId": "getExercisesByBodyPart",
        "description": "Retrieve a list of exercises by body part",
        "tags": ["Exercises"],
        "parameters": [
          {
            "name": "bodyPart",
            "in": "path",
            "description": "Name of the body part",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "bodyPart": { "type": "string" },
                      "equipment": { "type": "string" },
                      "target": { "type": "string" },
                      "gifUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No exercises found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/target/{target}": {
      "get": {
        "operationId": "getExercisesByTarget",
        "description": "Retrieve a list of exercises by target muscle",
        "tags": ["Exercises"],
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "description": "Name of the target muscle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "bodyPart": { "type": "string" },
                      "equipment": { "type": "string" },
                      "target": { "type": "string" },
                      "gifUrl": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No exercises found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/bodyPartList": {
      "get": {
        "operationId": "getBodyPartList",
        "description": "Retrieve a list of available body parts",
        "tags": ["Exercises"],
        "responses": {
          "200": {
            "description": "List of body parts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {}
}
